*{
    margin:0;
    padding:2px;
}
html {
    scroll-behavior: smooth;
}
body{
   /* background-image: url("bgimg2.avif");*/
    background-color: rgb(14, 47, 56);
    background-size: contain;
}
#name{
    display: inline-block;
    margin-top: 47px;
    margin-left: 15px;
    color: rgb(102, 219, 159);
    font-size: 50px;
    margin-right: 0px;
    text-shadow: 0 0 10px cyan;
}
#head1{
    margin-top: 25px;
    margin-right: 40%;
    color: #AEEEEE;
    font-family: serif;
    text-align: left;
    text-shadow: 0 0 30px cyan;
}
#nav{
    position: sticky;
    top: 0;
    background-color: rgb(34, 90, 112);
    display: flex;
    justify-content: flex-end;
    background-size: 100%;
}
.btn{
    color: rgb(252, 249, 250);
    font-size: 25px;
    background-color: transparent;
    border-radius: 30px;
    margin:15px;
    width:150px;
    padding: 10px;
    border: 0px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn:hover{
    border: 2px solid rgb(172, 183, 206);
    border-color: aqua;
    cursor: pointer;  
}
.vline{
    border-left: 2px solid rgb(155, 23, 130);
        height: 100px;
        left: 50%;
        margin-left: 20px;
        margin-top: 55px;
}
.n1{
    display: flex;
}
#info{
    color:#bbc04d;
    font-size:10px;
    margin-top: 4.2%;
    margin-left: 10px;
    padding: 10px;
    padding-right: 0.2px;
    text-align: left;
}
#h2{
    font-size: 45px;
    margin-top: 20px;
    color: #AEEEEE;
    padding-left: 100%;
    text-align: center;
    justify-content: center;
    text-shadow: 0 0 10px cyan;
}
.skills{
    margin-top: 40px;

}
#list{
    color:#D3D3D3;
    padding: 15px;
    margin-left: 15px;
    font-size: 25px;
}
.items{
    padding:10px
}
#head3{
    padding: 15px;
    color:#AEEEEE;
    font-size: 45px;
    text-align: center;
    padding-bottom: 60px;
    text-shadow: 0 0 10px #AEEEEE;
}
.listpr{
    display: flex;
    color:white;
    justify-content: space-around;
}
.n1{
    display: flex;
}
#info{
    color:#badbb3;
    font-size:30px;
    margin-top: 3%;
    margin-left: 20px;
}
.skills{
    margin-top: 40px;
    display: inline-block;
}

#list{
    color:#badbb3;
    padding: 15px;
    margin-left: 15px;
    font-size: 25px;
}
.items{
    padding:10px
}
#head3{
    padding: 15px;
    color:#AEEEEE;
    font-size: 60px;
    text-align: center;
    padding-bottom: 60px;
}
.listpr{
    display: flex;
    color:white;
    justify-content: space-around;
}
.pr{
    width: 60vh;
    border-radius: 20px;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    height: 30vh;
    border: 2px solid rgb(29, 221, 199);
    line-height: 5vh;
    color: #badbb3;
    font-size: 30px;
    padding: 18px;
    background-color: rgb(17, 70, 86);
}
.pr:hover{
    transition-timing-function: ease-out;
    transition-duration: 0.7s;
    transform: scale(1.05);
}
#head4{
    color: #AEEEEE;
    text-align: center;
    font-size: 45px;
    margin-top: 15px;
    text-shadow: 0 0 10px#AEEEEE;
}
#interest{
    color:#badbb3;
    padding-top: 20px;
    font-size: 30px;
    padding-left: 30px;
    line-height: 2;
}
.hline{
    margin-top: 30px;
    margin-left: 28px;
    height: 0.001vh;
    border: 0.2px solid aqua;
    width: 180vh;
    justify-content: center;
}
#head5{
    color:#AEEEEE;
    font-size: 35px;
    margin-top: 12.5px;
}
#contact{
    color: rgb(18, 62, 61);
    font-size: 50px;
    padding-top: 5x;
    padding-left: 20px;
    text-align: center;
}
.icons{
    display: flex;
    justify-content: space-around;
    padding-bottom: 2px;
    
}
.icon{
    height: 44px;
    width: 44px;
    margin-top: 13px;
    padding-left: 0px;
}
.icon:hover{
    transform: scale(1.3);
    transition-duration: 0.5s;
}
#insta{
    background-image: url("instagram.png");
    background-size: contain;
}
#in{
    background-image: url("linkedin.png");
    background-size: contain;
}
#github{
    background-image: url("github.png");
    background-size: contain;
}
#mail{
    background-image: url("gmail.png");
    background-size: contain;
}
.cntnr{
    background-color: rgb(16, 74, 73);
}
.hline2{
    margin-top: 30px;
    height: 0.001vh;
    border: 0.2px solid aqua;
    width: 100%;
    justify-content: center;
}
#tic:hover{
    cursor: pointer;
    text-decoration: none;
}
#tic{
    text-decoration: none;
}

 

